body {
    font-family: 'Work Sans', sans-serif;
    background-color: rgb(207, 207, 207);
    width: 425px;
    height: 346px;
    color: #000000;
}
/*OPMAAK*/

h1 {
    font-size: 36px;
}

h2 {
    padding-top: 15px;
}


/*background-color:#3b2795 ; legit kleur */

.outer {
    background-color: black;
    padding: 15px;
}

.inner {
    color: #381cb8fa;
    border-style: solid;
    border-radius: 5px;
}

.transparent {
    background-color:#381cb8fa ;
    padding: 30px;
    color: white;
}

.negendemaand {
    display: flex;
}

.negen {
    margin-bottom:-40px;
}