body {
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
    background-color: rgb(207, 207, 207);
    width: 425px;
    height: 346px;
    color: #000000;
    display: grid;
    justify-content: center;
}

.container { /*container rond kaart */
    border: 10px;
    border-color: #1c1c1c;
    border-style: solid;
    display: grid;
    display: grid;
    justify-content: center;
}
.wrapper { /*volledie inhoud container*/
    width: 425px;
    height: 346px;
    border-radius: 10px;
    display: grid;
    justify-content: center;
}

.row { /*volledige inhoud binnen row */
    border-style: solid;
    background-color: #3b2795;
    color: white;
    display: grid;
    justify-content: center;
}

button {
    background-color: transparent; 
    color: rgb(255, 255, 255); 
    border: 2px solid #ffffff;
    display: grid;
    justify-content: center;

}
