@font-face {
    font-family: 'plymouth-serialregular';
    src: url('plymouth-serial-regular-webfont.woff2') format('woff2'),
         url('plymouth-serial-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    text-align: center;
    font-family: 'plymouth-serialregular';
}

.row {
    background-color: rgb(255, 255, 255);
    height: 330;
    width: 566px;
}

input  {
    width: 500px;
    height: auto;
}

h1 {
    justify-content: left;
}