@font-face {
    font-family: 'plymouth-serialregular';
    src: url('plymouth-serial-regular-webfont.woff2') format('woff2'),
         url('plymouth-serial-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
  }

body {
    background-color: red;
    text-align: center;
    font-family: 'plymouth-serialregular';
}

.row {
    background-color: rgb(255, 255, 255);
    height: 330;
    width: 566px;
}

input {
    width: 500px;
    height: auto;
}

h1 {
    justify-content: left;
}

button {
    background: #2b4c52 ;
    display: inline-block;
    border: none; 
    width: 500px; /*breedte van de knop*/
    height: auto; /* zelfde breedte als input field */ 
    text-decoration: none;
    color: #ffffff;0
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}